<template>
	<div>
		<van-pull-refresh v-model="isLoading" @refresh="onRefresh">
			<van-nav-bar left-arrow :title="topic_name" @click-left="onClickLeft()" />
			<div class="list" @scroll='handleScroll()'>
				<div class="searchBar" id="searchBar">
					<van-row>
						<van-col span="8">
							<van-button bottom-action @click="onClickPublish()">Publish</van-button>
						</van-col>
						<van-col span="8">
							<van-button type="primary" bottom-action>Questions</van-button>
						</van-col>
						<van-col span="8">
							<van-button bottom-action>Essence</van-button>
						</van-col>
					</van-row>
				</div>
				<van-list v-model="loading" :finished="finished">
					<van-cell v-for="item in list" :key="item">
						<div class="usermess">
							<div>
								<img src="@/assets/images/IMG_20180510_094907.png" />
							</div>
							<div>
								<div><a href="#">{{item.accountname}}</a></div>
								<div class="date">{{item.reply_time}}</div>
							</div>
						</div>
						<div class="blog-content" @click='onClickDetail(item)'>
							{{item.content}}
						</div>
						<van-row style="padding:2rem 0 0 3.5rem;">
							<!-- <van-col span="4">
								<a>
									<van-icon name="like-o" />
								</a>
							</van-col> -->
							<van-col span="4">
								<a @click='onClickReplys(item)'>
									<van-icon name="pending-evaluate" />
								</a>
							</van-col>
							<!-- <van-col span="4">
								<a>
									<van-icon name="share" />
								</a>
							</van-col> -->
						</van-row>
						<van-row v-for="reply in item.replyList" :key="reply" style="padding:2rem 0 0 3.5rem;">
							<span style="color:blue;">{{reply.publisher}}：</span><span>{{reply.content}}</span>
						</van-row>
					</van-cell>
				</van-list>
			</div>
		</van-pull-refresh>
		<van-popup v-model="show" position="bottom" :overlay="true">
			<van-panel>
				<van-cell-group>
					<van-field v-model="content" type="textarea" placeholder="Please enter the content" rows="6" autosize />
				</van-cell-group>
				<div slot="footer" style="text-align:right;">
					<van-button size="small" @click="onClickCannel()">Cannel</van-button>
					<van-button size="small" type="primary" @click="onClickOk()">Send</van-button>
				</div>
			</van-panel>
		</van-popup>
	</div>
</template>

<script>
import {
  List,
  Button,
  NavBar,
  Row,
  Col,
  Popup,
  Cell,
  CellGroup,
  Panel,
  PullRefresh
} from "vant";
import tool from "../../../assets/js/tools.js";
let eos = null;
export default {
  props: {
    itemId: [String, Number]
  },
  data() {
    return {
      list: [],
      circle_id: this.$route.params.circle_id,
      circle_name: this.$route.params.circle_name,
      publisher: this.$route.params.publisher,
      currentId: 0,
      content: "",
      loading: false,
      finished: false,
      isLoading: false,
      show: false
    };
  },
  created() {
    this.initData();
  },
  mounted() {
    window.addEventListener("scroll", this.handleScroll);
  },
  destroyed() {
    window.removeEventListener("scroll", this.handleScroll);
  },
  methods: {
    async initData() {
      eos = tool.inintEos(this.defines.config);
      const circle_id = this.circle_id;
      const tableReply = await eos.getTableRows({
        scope: this.defines.userConfig.code,
        code: this.defines.userConfig.code,
        table: this.defines.userConfig.table[2].tableName,
        json: true
      });
      if (tableReply.rows == null) {
        this.$toast.fail("Failed to obtain data, please return to retry!");
        return;
      }
      let listReply = tableReply.rows.filter(function(item, index, arr) {
        return item.circle_id == circle_id;
      });
      const tableReplyDetails = await eos.getTableRows({
        scope: this.defines.userConfig.code,
        code: this.defines.userConfig.code,
        table: this.defines.userConfig.table[3].tableName,
        json: true
      });
      if (tableReplyDetails.rows != null) {
        for (var i = 0; i < listReply.length; i++) {
          listReply[i].replyList = tableReplyDetails.rows.filter(function(
            item,
            index,
            arr
          ) {
            return item.pid == listReply[i].id;
          });
        }
      }
      this.list = listReply;
      console.log("listReply");
      console.log(this.list);
      this.finished = true;
      this.loading = false;
    },
    onClickPublish() {
    //   if (this.defines.userConfig.scope != this.accountname) {
    //     this.$toast.fail(
    //       "You are not the creator of the circle that can't issue a topic!"
    //     );
    //     return;
    //   }
      this.$router.push({
        name: "publish",
        params: {
          circle_id: this.circle_id,
          circle_name: this.circle_name
        }
      });
    },
    onClickDetail(item) {
      console.log("item");
      console.log(item);
      const reply_id = item.id;
      this.$router.push({
        name: "detail",
        params: {
          circle_id: this.circle_id,
          reply_id: reply_id,
          circle_name: this.circle_name,
          publisher: this.publisher
        }
      });
    },
    onClickReplys(item) {
      this.show = true;
      this.currentId = item.id;
    },
    onClickOk() {
      const circle_id = this.circle_id;
      const circle_name = this.circle_name;
      const currentId = this.currentId;
      const content = this.content;
      if (content == "") {
        this.$toast.fail("Please fill in the contents!");
        return;
      }
      const reply_time = new Date();
      console.log("currentId");
      console.log(currentId);
      eos.contract(this.defines.userConfig.code).then(contract => {
        console.log(contract);
        contract
          .createdetail(
            this.defines.userConfig.code,
            circle_id,
            circle_name,
            "",
            this.defines.userConfig.scope,
            1,
            currentId,
            content,
            reply_time.getTime(),
            {
              authorization: [this.defines.userConfig.code]
            }
          )
          .then(res => {
            // this.$toast("success");
            this.onRefresh();
            console.log(res);
            this.show = false;
          });
      });
    },
    onClickCannel() {
      this.show = false;
    },
    handleScroll() {
      var scrollTop =
        window.pageYOffset ||
        document.documentElement.scrollTop ||
        document.body.scrollTop;
      var offsetTop = document.querySelector("#searchBar").offsetTop;
      if (scrollTop > offsetTop) {
        this.searchBarFixed = true;
      } else {
        this.searchBarFixed = false;
      }
      console.log("window" + pageYOffset);
      console.log(window);
      console.log("scrollTop" + scrollTop);
      console.log("offsetTop" + scrollTop);
    },
    onClickLeft() {
      this.$router.push({
        name: "planet"
      });
      // this.$router.go(-1);
    },
    onRefresh() {
      setTimeout(() => {
        this.initData();
        this.isLoading = false;
      }, 500);
    }
  },
  components: {
    [NavBar.name]: NavBar,
    [List.name]: List,
    [Button.name]: Button,
    [Row.name]: Row,
    [Col.name]: Col,
    [Popup.name]: Popup,
    [Cell.name]: Cell,
    [CellGroup.name]: CellGroup,
    [Panel.name]: Panel,
    [PullRefresh.name]: PullRefresh
  }
};
</script>

<style lang="scss" scoped>
@import "../../../assets/scss/bloglist";
@import "../../../assets/scss/mixin";
.searchBar {
  .isFixed {
    position: fixed;
    background-color: #fff;
    top: 0;
    z-index: 999;
  }
  ul {
    width: 100%;
    height: 40px;
    line-height: 40px;
    display: flex;
    background-color: #fff;
    li {
      font-size: 0.8rem;
      text-align: center;
      flex: 1;
      a {
        width: 150rem;
      }
      i {
        font-size: 0.9rem;
        padding-left: 5px;
        color: #ccc;
      }
      border-right: 1px solid #ddd;
    }
    li:last-child {
      border: none;
    }
    li a:active {
      background: #f5f5f5;
    }
    border-bottom: 1px solid #ddd;
  }
}
</style>
