<template>
	<div>
		<div class="tab_class" style="background-color:#F5F5F5;">
			<van-nav-bar title="circle" />
			<van-search v-model="search_topic_id" show-action @search="onSearch" placeholder="Click on the id of the search circle">
				<div slot="action" @click="onSearch" style="padding:0 0.5rem 0 0.5rem;">Search</div>
			</van-search>
			<div style="padding-top:1rem;">
				<van-row gutter="20">
					<van-col v-for="item in list" :key="item" span="8">
						<a target="_blank" @click="itemClick(item)">
							<img src="@/assets/images/59460220d150a_1024.jpg" style="width:42%;padding-left:1rem;">
							<!-- <div>{{item.accountname}}</div>
															<div>{{item.topic_name}}</div> -->
						</a>
					</van-col>
					<van-col span="8">
						<a target="_blank" @click="addClick()">
							<img src="@/assets/images/IMG_20180510_095000.png" style="width:42%;padding-left:0.7rem;">
						</a>
					</van-col>
				</van-row>
			</div>
		</div>
	</div>
</template>

<script>
import { Search, NavBar, Button } from "vant";
import tool from "../../assets/js/tools.js";
let eos = null;
export default {
  data() {
    return {
      list: [],
      search_topic_id: ""
    };
  },
  created() {
    this.initData();
  },
  async mounted() {},
  methods: {
    async initData() {
      eos = tool.inintEos(this.defines.config);
      const table = await eos.getTableRows({
        scope: this.defines.userConfig.code,
        code: this.defines.userConfig.code,
        table: this.defines.userConfig.table[0].tableName,
        json: true
        // table_key: "",
        // lower_bound: '0',
        // upper_bound: '-1',
        // limit: '10'
      });
      const account = this.defines.userConfig.scope;
       console.log("table.rows");
      console.log(table.rows);
      this.list = table.rows.filter(function(item, index, arr) {
        return item.publisher == account;
      });
      console.log('this.list');
      console.log(this.list);
    },
    itemClick(item) {
      console.log("item");
      console.log(item);
      this.$router.push({
        name: "list",
        params: {
          circle_id: item.id,
          circle_name: item.name,
          publisher: item.publisher
        }
      });
    },
    addClick() {
      const accountname = this.accountname;
      this.$router.push({
        name: "createPlanet"
      });
    },
    onSearch() {
      const search_topic_id = this.search_topic_id;
      this.$router.push({
        name: "joinPlanet",
        params: {
          circle_id: search_topic_id
        }
      });
    }
  },
  components: {
    [Search.name]: Search,
    [NavBar.name]: NavBar,
    [Button.name]: Button
  }
};
</script>


<style scoped>
.tab_class {
  background-color: #fff;
  height: 100%;
}
.tal_class_searchBox {
  position: relative;
}
.tal_class_searchMask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
}
</style>