.date{
  color: #ccc;
}

.tag{
  color: #58E481; 
  border:1px #58E481 solid; 
  border-radius:5px;
  margin-right:4px;
  padding: 0 5px;
}

ul{
  padding: 0;
  margin: 0;
}

ul li{
  list-style: none;
}

ul li a{
  text-decoration: none;
}

.usermess{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 0.5rem;
  font-size: 0.5rem;
}

.usermess div{
  margin-right:20px;
}

.usermess div img{
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.usermess div a{
  text-decoration: none;
  font-size: 1.1rem;
  color: black;
}

.blog-title{
  margin-top:10px;
  color:black;
  font-size: 1.2rem;
}

.blog-content{
  color: #2c3e50;
  position: relative;
  padding: 0 1rem 0 3.5rem;
  line-height: 30px;
  overflow:hidden; 
  text-overflow: ellipsis;
  // display:-webkit-box; 
  -webkit-box-orient:vertical;
  -webkit-line-clamp:3; 
}

.footer{
  margin-top:10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  color: #bbb;
}

.footer div{
  padding-right: 10px;
}

.blogwarp{
  margin: 0 20%;
}

.blogwarp .blog-title p{
  font-size: 1.5rem
}

.user-warp{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.user-warp div{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}


.user-warp-item div{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-right:20px;
  color: #bbb;
}

#btn-send{
  margin-left: 90%;
}

.reviewcontent{
  padding: 10px;
}

.btn-reply{
  color: #bbb;
  cursor: pointer;
  display: inline-block;
  margin-left: 20px;
}

.eachother{
  margin:10px 0;
}

#replydialog{
  display: none;
}

hr{
  background-color:#f4f4f4;
  border:0;
  height: 1px;
  margin:20px 0;
  border-style: outset;
}