<template>
	<div>
	
		<van-nav-bar title="Detail" left-arrow @click-left="onClickLeft()" />
	
		<div style="text-align:center;width:100%;padding-bottom:2rem;">
	
			<van-row style="padding-top:3rem;">
	
				<div><img src="@/assets/images/59460220d150a_1024.jpg" class="detail_img" /></div>
	
			</van-row>
	
			<van-row style="padding-top:1rem;">
	
				<div>{{planet.name}}</div>
	
			</van-row>
	
			<van-row style="padding-top:1rem;">
	
				<div>ID：{{planet.id}}</div>
	
			</van-row>
	
		</div>
	
		<van-cell-group>
	
			<van-cell title="Pay notice">
	
				<div slot="right-icon" style="color:red;">￥{{circleprice.price}}</div>
	
			</van-cell>
	
		</van-cell-group>
	
		<van-list v-model="loading" :finished="finished" style="padding:1rem 0 1rem 0;">
	
			<van-cell title="Partial topic Preview" />
	
			<van-cell v-for="item in list" :key="item">
	
				<div class="usermess">
	
					<div>
	
						<img src="@/assets/images/IMG_20180510_094907.png" />
	
					</div>
	
					<div>
	
						<div><a href="#">{{item.accountname}}</a></div>
	
						<div class="date">{{item.reply_time}}</div>
	
					</div>
	
				</div>
	
				<div class="blog-content" @click='onClickDetail(item)'>
	
					{{item.content}}
	
				</div>
	
			</van-cell>
	
		</van-list>
	
		<div style="text-align:center;width:100%;padding-bottom:1rem;color:#5D5A58;">Join the planet to see more</div>
	
		<van-button type="primary" size="large" class='detail_footer' background="#ccc" @click="onClickJoinPlanet()">
	
			￥{{circleprice.price}} Join the circle
	
		</van-button>
	
	</div>
</template>

<script>
import { List, Button, NavBar, Search, Row, Col, Card } from "vant";
import tool from "../../../assets/js/tools.js";
let eos = null;

export default {
  props: {
    itemId: [String, Number]
  },

  data() {
    return {
      planet: {},

      circleprice: {},

      list: [],

      loading: false,

      finished: false,

      circle_id: this.$route.params.circle_id
    };
  },

  created() {
    this.initData();
  },

  methods: {
    async initData() {
      eos = tool.inintEos(this.defines.config);

      const circle_id = this.circle_id;

      console.log("circle_id");

      console.log(circle_id);

      const tableTopic = await eos.getTableRows({
        scope: this.defines.userConfig.code,

        code: this.defines.userConfig.code,

        table: this.defines.userConfig.table[0].tableName,

        json: true
      });

      if (tableTopic.rows == null) {
        this.$toast.fail("Failed to obtain data, please return to retry!");

        return;
      }

      console.log("tableTopic.rows");

      console.log(tableTopic.rows);

      let planet = {};

      for (var i = 0; i < tableTopic.rows.length; i++) {
        if (tableTopic.rows[i].id.toString() == circle_id) {
          planet = tableTopic.rows[i];

          break;
        }
      }

      this.planet = planet;

      console.log("planet");

      console.log(planet);

      const tableCircleprices = await eos.getTableRows({
        scope: this.defines.userConfig.code,

        code: this.defines.userConfig.code,

        table: this.defines.userConfig.table[5].tableName,

        json: true
      });

      let circleprice = {};

      console.log("tableCircleprices.rows");

      console.log(tableCircleprices.rows);

      for (var i = 0; i < tableCircleprices.rows.length; i++) {
        if (tableCircleprices.rows[i].id.toString() == 3) {
          circleprice = tableCircleprices.rows[i];

          break;
        }
      }
      this.circleprice = circleprice;

      console.log("circleprice");

      console.log(circleprice);

      const tableReply = await eos.getTableRows({
        scope: this.defines.userConfig.code,

        code: this.defines.userConfig.code,

        table: this.defines.userConfig.table[2].tableName,

        json: true
      });

      console.log("tableReply.rows");

      console.log(tableReply.rows);
      if (tableReply.rows == null) {
        this.$toast.fail("Failed to obtain data, please return to retry!");

        return;
      }

      let listReply = tableReply.rows.filter(function(item, index, arr) {
        return item.circle_id == circle_id;
      });

      this.list = listReply;

      console.log("listReply");

      console.log(listReply);

      this.finished = true;

      this.loading = false;
    },

    onClickLeft() {
      this.$router.go(-1);
    },

    async onClickJoinPlanet() {
      console.log("this.defines");
      console.log(this.defines);
      const code = this.defines.userConfig.code;
      const scope = this.defines.userConfig.scope;
      const planet = this.planet;
      const circleprice = this.circleprice;

      const subscribe_time = new Date();

      eos.contract(this.defines.userConfig.code).then(contract => {
        console.log(contract);

        contract

          .createsub(
            code,

            scope,

            planet.id,

            planet.name,

            planet.publisher,

            180,

            circleprice.price,

            subscribe_time.getTime(),

            0,

            {
              authorization: [this.defines.userConfig.code]
            }
          )

          .then(res => {
            this.$toast("Congratulations on your success in the planet!");

            console.log(res);

            //转账

            
            const privateKey = window.localStorage.getItem(this.defines.userConfig.scope);
            console.log("privateKey");
            console.log(privateKey);
           
            if (privateKey != undefined) {
              this.defines.config.keyProvider = privateKey;

              eos = tool.inintEos(this.defines.config);

              const transfer = eos.transfer({
                from: scope,

                to: planet.publisher,

                quantity: circleprice.price + ".0000 SYS",

                memo: "transfer between accounts"

                // symbol:"SYS",
              });

              console.log("transfer");

              console.log(transfer);

              this.$router.push({
                name: "planet"
              });
            }else{
              this.$toast.fail('Error of joining the circle, please retry from the new exit!');
            }
          });
      });
    }
  },

  components: {
    [NavBar.name]: NavBar,

    [Search.name]: Search,

    [Button.name]: Button,

    [Row.name]: Row,

    [Col.name]: Col,

    [Card.name]: Card
  }
};
</script>

<style lang="scss" scoped>
@import "../../../assets/scss/bloglist";

.searchBar {
  .isFixed {
    position: fixed;

    background-color: #fff;

    top: 0;

    z-index: 999;
  }

  ul {
    width: 100%;

    height: 40px;

    line-height: 40px;

    display: flex;

    background-color: #fff;

    li {
      font-size: 0.8rem;

      text-align: center;

      flex: 1;

      a {
        width: 150rem;
      }

      i {
        font-size: 0.9rem;

        padding-left: 5px;

        color: #ccc;
      }

      border-right: 1px solid #ddd;
    }

    li:last-child {
      border: none;
    }

    li a:active {
      background: #f5f5f5;
    }

    border-bottom: 1px solid #ddd;
  }
}

.detail_img {
  width: 80px;

  height: 80px;

  border-radius: 50%;
}

.detail_footer {
  left: 0;

  position: fixed;

  bottom: 0; //这里换成top:0;就悬浮在头部

  width: 100%; // z-index: 9;
}
</style>
