<template>
	<div>
		<van-nav-bar title="Create a pay planet" right-text="Complete" left-arrow @click-left="onClickLeft()" @click-right="onClickRight()" />
		<van-uploader :after-read="onRead" style="width:100%;text-align:center;padding-top:3rem;">
			<div><img src="@/assets/images/2555bbdd7bf5c1c8acac2a643d6a9545.jpg" style="width:6rem;height:6rem;" />
				<div style="position: relative;top: -6rem;right:-12.5rem;border-radius: 50%;width: 1.5rem;height: 1.1rem;background-color: #5EACCC;text-align:center;">
					<van-icon name="photograph" />
				</div>
			</div>
		</van-uploader>
		<van-radio-group v-model="radio">
			<van-cell-group>
				<van-cell title="Subscribe to the first quarter" clickable @click="radio = '1'">
					<van-radio name="1"></van-radio>
				</van-cell>
				<van-cell title="Subscribe to half a year" clickable @click="radio = '2'">
					<van-radio name="2" />
				</van-cell>
				<van-cell title="Subscribe to a year" clickable @click="radio = '3'">
					<van-radio name="3" />
				</van-cell>
			</van-cell-group>
		</van-radio-group>
   
		<van-cell-group style="top:1rem;">
			<van-field v-model.trim="username" label="Planet Name" icon="clear" placeholder="Please enter the name of the planet" required @click-icon="username = ''" />
			<van-field v-model.trim="annualFee" label="Annual Fee" icon="clear" required @click-icon="annualFee = 50" />
		</van-cell-group>
   
    <van-cell-group style="top:1rem;">
       <div style="color:black;padding-left:1rem;">Description</div>
			 <van-field v-model="description" type="textarea" placeholder="What do you say..." rows="15" autosize />
		</van-cell-group>
	</div>
</template>

<script>
import {
  Uploader,
  Cell,
  CellGroup,
  NavBar,
  Field,
  RadioGroup,
  Radio
} from "vant";
import tool from "../../../assets/js/tools.js";
let eos = null;
// let contract = null;
export default {
  props: {
    itemId: [String, Number]
  },
  data() {
    return {
      loading: false,
      finished: false,
      username: "",
      imageSrc: "@/assets/images/2555bbdd7bf5c1c8acac2a643d6a9545.jpg",
      annualFee: 50,
      radio: "1",
      description: ""
    };
  },
  created() {},
  methods: {
    onClickLeft() {
      this.$router.go(-1);
    },
    async onClickRight() {
      if (this.username == "") {
        this.$toast.fail("Please fill in the name of the star!");
        return;
      }
      if (this.annualFee == 0) {
        this.$toast.fail("Please fill in the cost!");
        return;
      }
      var cycle = 90;
      switch (this.radio) {
        case "2":
          cycle = 180;
          break;
        case "3":
          cycle = 360;
      }
      const created_time = new Date();
      console.log("created_time");
      console.log(created_time.getTime());
      eos = tool.inintEos(this.defines.config);
      eos.contract(this.defines.userConfig.code).then(contract => {
        console.log(contract);
        contract
          .createcircle(
            this.defines.userConfig.code,
            this.username,
            this.description,
            this.defines.userConfig.scope,
            created_time.getTime(),
            0,
            {
              authorization: [this.defines.userConfig.code]
            }
          )
          .then(res => {
            this.$toast("success");
            console.log(res);
            this.$router.push({
              name: "planet"
            });
          });
      });
    }
    // onRead() {
    // 	alert("222");
    // }
  },
  async mounted() {
    // let tableQuery = {
    // 	"json": true,
    // 	"table_key": "uint64_t",
    // 	"scope": config.contractName,
    // 	"code": config.contractName,
    // 	"table": "topics2"
    // }
    // const contrct = await eos.getTableRows(tableQuery);
    // Toast("success");
    // console.log(contrct);
    // contract = await eos.contract(config.contractName);
    // Toast("success");
    // console.log(eos);
    // console.log(contract);
  },
  components: {
    [NavBar.name]: NavBar,
    [Uploader.name]: Uploader,
    [Cell.name]: Cell,
    [CellGroup.name]: CellGroup,
    [RadioGroup.name]: RadioGroup,
    [Radio.name]: Radio
  }
};
</script>

<style lang="scss" scoped>
</style>
