<template>
	<div>
		<van-nav-bar title="Detail" left-arrow @click-left="onClickLeft()" />
		<van-cell-group style="padding-top:1rem;">
			<div class="body" @scroll='handleScroll()'>
				<div class="usermess">
					<div>
						<img src="@/assets/images/IMG_20180510_094907.png" />
					</div>
					<div>
						<div><a href="#">{{reply.publisher}}</a></div>
						<div class="date">{{reply.reply_time}}</div>
					</div>
				</div>
				<div class="blog-content">
					{{reply.content}}
				</div>
				<van-row style="padding:2rem 0 0 3.5rem;border-bottom: 1px solid #e5e5e5;border-bottom-width: 1px;">
					<!-- <van-col span="4">
						<a>
							<van-icon name="like-o" />
						</a>
					</van-col> -->
					<van-col span="4">
						<a @click='onClickReplys(item)'>
							<van-icon name="pending-evaluate" />
						</a>
					</van-col>
					<!-- <van-col span="4">
						<a>
							<van-icon name="share" />
						</a>
					</van-col> -->
				</van-row>
				<van-list>
					<van-cell v-for="replyDetail in reply.replyDetails" :key="replyDetail" style="padding:2rem 0 2rem 3.5rem;">
						<span style="color:blue;">{{replyDetail.publisher}}：</span><span>{{replyDetail.content}}</span>
					</van-cell>
				</van-list>
			</div>
		</van-cell-group>
	</div>
</template>

<script>
import { List, Button, NavBar, Search, Row, Col, CellGroup } from "vant";
import tool from "../../../assets/js/tools.js";
let eos = null;
export default {
  props: {
    itemId: [String, Number]
  },
  data() {
    return {
      reply: {},
      loading: false,
      finished: false,
      circle_id: this.$route.params.circle_id,
      reply_id: this.$route.params.reply_id,
      circle_name: this.$route.params.circle_name,
      publisher: this.$route.params.publisher
    };
  },
  created() {
    this.initData();
  },
  methods: {
    async initData() {
      const circle_id = this.circle_id;
      eos = tool.inintEos(this.defines.config);
      const tableReply = await eos.getTableRows({
        scope: this.defines.userConfig.code,
        code: this.defines.userConfig.code,
        table: this.defines.userConfig.table[2].tableName,
        json: true
      });
      if (tableReply.rows == null) {
        this.$toast.fail("Failed to obtain data, please return to retry!");
        return;
      }
      const listReply = tableReply.rows.filter(function(item, index, arr) {
        return item.circle_id == circle_id;
      });
      let reply = {};
      for (var i = 0; i < listReply.length; i++) {
        if (listReply[i].id == this.reply_id) {
          reply = listReply[i];
          break;
        }
      }
      if (reply != {}) {
        const tableReplyDetails = await eos.getTableRows({
          scope: this.defines.userConfig.code,
          code: this.defines.userConfig.code,
          table: this.defines.userConfig.table[3].tableName,
          json: true
        });
        if (tableReplyDetails.rows != null) {
          const listReplyDetails = tableReplyDetails.rows.filter(function(
            item,
            index,
            arr
          ) {
            return item.pid == reply.id;
          });
          reply.replyDetails = {};
          reply.replyDetails = listReplyDetails != {} ? listReplyDetails : {};
        }
      }
      this.reply = reply;
      this.finished = true;
      this.loading = true;
    },
    onClickLeft() {
      const circle_id = this.circle_id;
      const circle_name = this.circle_name;
      const publisher = this.publisher;
      console.log("circle_id");
      console.log(circle_id);
      console.log("circle_name");
      console.log(circle_name);
      console.log("publisher");
      console.log(publisher);
      this.$router.push({
        name: "list",
        params: {
          circle_id: circle_id,
          circle_name: circle_name,
          publisher: publisher
        }
      });
    }
  },
  components: {
    [NavBar.name]: NavBar,
    [Search.name]: Search,
    [Row.name]: Row,
    [Col.name]: Col,
    [CellGroup.name]: CellGroup
  }
};
</script>

<style lang="scss" scoped>
@import "../../../assets/scss/bloglist"; // .body {
// 	background-color: #fff;
// }
.groupButton {
  padding: 2rem 0 2rem 0;
  ul {
    // width: 100%;
    height: 40px;
    line-height: 40px;
    display: flex;
    li {
      font-size: 0.8rem;
      text-align: center;
      flex: 1;
      i {
        font-size: 0.9rem;
        padding-left: 5px;
        color: #ccc;
      }
    }
  }
}
</style>
