<template>
	<div>
		<van-nav-bar title="Setting" />
		<md-field-group style="padding-top:1rem;">
			<!-- <md-field v-model="chainId" icon="username" placeholder="chainId" right-icon="clear-full" /> -->
			<md-field v-model="keyProvider" icon="username" placeholder="private key" right-icon="clear-full" />
			<!-- <md-field v-model="httpEndpoint" icon="username" placeholder="httpEndpoint" right-icon="clear-full" /> -->
			<!-- <md-field v-model="publicKey" icon="username" placeholder="publicKey" right-icon="clear-full" /> -->
			<van-button size="large" type="danger" :loading="isLogining" @click="submitConfig">Submit</van-button>
		</md-field-group>
	</div>
</template>

<script>
import { NavBar } from "vant";
import field from "@/vue/components/field/";
import fieldGroup from "@/vue/components/field-group/";
export default {
  data() {
    return {
      keyProvider: "",
      publicKey: ""
    };
  },
  methods: {
    submitConfig() {

      if (this.keyProvider == "") {
        this.$toast.fail("Please enter private key");
        return;
      }
      // if (this.publicKey == "") {
      //   this.$toast.fail("Please enter publicKey!");
      //   return;
      // }
      //init global config
      // this.defines.config.chainId = this.chainId;
      let keyProvider = [this.keyProvider,'5KE9TwBrypQ9ouY5PorKrLhNdXkEMNhKGvV2KMWqPuB3GNRbusH'];
      this.defines.config.keyProvider = keyProvider;
      // this.defines.config.httpEndpoint = this.httpEndpoint;

      //init global eosioConfig
      // this.defines.eosioConfig.chainId = this.chainId;
      // this.defines.eosioConfig.keyProvider = this.keyProvider;
      // this.defines.eosioConfig.httpEndpoint = this.httpEndpoint;

      console.log(this.defines);
      window.localStorage.setItem("config", JSON.stringify(this.defines));
      const aaa = window.localStorage.getItem("config");
      console.log("aaa");
      console.log(JSON.parse(aaa));
      this.$router.push({
        name: "login"
      });
    }
  },
  components: {
    [field.name]: field,
    [fieldGroup.name]: fieldGroup,
    [NavBar.name]: NavBar
  }
};
</script>

<style lang="scss" scoped>
div.register_view {
  background-color: #fff;
  padding-top: 30px;
}
div.register_submit {
  padding-top: 30px;
  padding-bottom: 20px;
}
.register_footer {
  text-align: right;
  color: $font-color-gray;
}
</style>

