<template>
	<div>
		<md-field-group>
			<md-field v-model="account" icon="username" right-icon="clear-full" />
			<van-button size="large" type="danger" @click="loginSubmit()">Login</van-button>
		</md-field-group>
		<div class="register clearfix">
			<div class="float-l connect">
				<span>Contact Service</span>
			</div>
			<div class="float-r">
				<span @click="settingConfigClick()">Registered user</span>
			</div>
		</div>
	</div>
</template>

<script>
import field from "@/vue/components/field/";
import fieldGroup from "@/vue/components/field-group/";
import tool from "../../assets/js/tools.js";
let eos = null;
export default {
  name: "login-request",
  data() {
    return {
      account: ""
    };
  },

  created() {
    this.initData();
  },
  methods: {
    async initData() {
      if (
        window.localStorage.getItem("config") != null &&
        window.localStorage.getItem("config") != undefined
      ) {
        const config = JSON.parse(window.localStorage.getItem("config"));
        this.changeConfig(config);
      } else {
        this.$router.push({
          name: "settingConfig"
        });
      }
    },
    async loginSubmit() {
      console.log("this.account");
      console.log(this.account);
      if (this.account == "") {
        this.$toast.fail("Please enter one account name!");
        return;
      }

      eos = tool.inintEos(this.defines.config);

      const table = await eos.getTableRows({
        scope: this.defines.userConfig.code,
        code: this.defines.userConfig.code,
        table: this.defines.userConfig.table[1].tableName,
        json: true
        // table_key: "",
        // lower_bound: '0',
        // upper_bound: '-1',
        // limit: '10'
      });
      var account = this.account;
      console.log(" table.rows");
      console.log( table.rows);
      var user = table.rows.filter(function(item, index, arr) {
        return item.user == account;
      });
      console.log("user");
      console.log(user);

      if (user.length == 0) {
        this.$toast("The user does not exist, please register the user！");
        return;
      }
      this.defines.userConfig.scope = this.account;
      console.log("this.defines2");
      console.log(this.defines);
      this.$router.push({
        name: "planet"
      });
    },

    settingConfigClick() {
      this.$router.push({
        name: "registerSubmit"
      });
    }
  },
  components: {
    [field.name]: field,
    [fieldGroup.name]: fieldGroup
  }
};
</script>

<style lang="scss" scoped>
@import "../../assets/scss/mixin";
.register {
  padding-top: 40px;
  color: $font-color-gray;
  a {
    color: $font-color-gray;
  }
  > div {
    width: 50%;
    box-sizing: border-box;
    padding: 0 20px;
  }
  .connect {
    @include one-border(right);
    text-align: right;
  }
}
</style>
