<template>
	<div class="text-desc text-center bottom_positon">技术支持: 妈妈去哪儿</div>
</template>

<script>
	export default {
		name: "login-footer"
	}
</script>


<style scoped>
	.bottom_positon{
		position: absolute;
		bottom: 30px;
		width: 100%;
	}
</style>