<template>
	<div>
		<van-cell-group>
			<van-cell>
				<div class="van-cell__title" style="text-align:center;"><img src="@/assets/images/82c9011a3d4cd86cc1322b3175f05fd9.jpg" style="width:4rem; height:4rem;border-radius:50%;" />
				</div>
				<div>
					<div style="text-align:center;">{{accountinfo.account_name}}</div>
					<div style="text-align:center;">{{accountinfo.account_score}}</div>
					<!-- <van-cell v-model="accountinfo.id" title="" /> -->
					<!-- <van-cell v-model="accountinfo.account_name" title="" />
					<van-cell v-model="accountinfo.account_score" title="" /> -->
				</div>
			</van-cell>
		</van-cell-group>
		<van-cell-group style="top:1rem;">
			<van-cell title="Invitation Code" is-link value="0" />
			<van-cell title="Gift Card" is-link />
		</van-cell-group>
		<van-cell-group style="top:2rem;">
			<van-cell title="Active Planet List" is-link />
		</van-cell-group>
		<van-cell-group style="top:3rem;">
			<van-cell title="Help and feedback" is-link />
		</van-cell-group>
	</div>
</template>

<script>
import { List, Button, Cell, CellGroup, Dialog, Toast } from "vant";
import tool from "../../assets/js/tools.js";
let eos = null;
// import * as Eos from 'eosjs';
// import ecc from 'eosjs-ecc';
// let config = window.localStorage.getItem('config') != undefined ? JSON.parse(window.localStorage.getItem('config')) : undefined;
// let eos = null;
Vue.use(Dialog);
export default {
  props: {
    itemId: [String, Number]
  },
  data() {
    return {
      accountinfo: {
        account_name: "",
        account_score: ""
      }
    };
  },
  created() {
    this.onLoad();
  },
  methods: {
    async onLoad() {
      eos = tool.inintEos(this.defines.config);
      console.log(eos);
      const accountinfo = await eos.getCurrencyBalance({
        code: "eosio.token",
        account: this.defines.userConfig.scope,
        json: true
        // symbol:"SYS",
      });
      this.accountinfo.account_name = this.defines.userConfig.scope;
      this.accountinfo.account_score = accountinfo[0];
    }
  },
  components: {
    [Cell.name]: Cell,
    [CellGroup.name]: CellGroup
  }
};
</script>

<style lang="scss" scoped>
// @import '../../assets/scss/bloglist';
@import "../../assets/scss/mixin";
.searchBar {
  .isFixed {
    position: fixed;
    background-color: #fff;
    top: 0;
    z-index: 999;
  }
  ul {
    width: 100%;
    height: 40px;
    line-height: 40px;
    display: flex;
    background-color: #fff;
    li {
      font-size: 0.8rem;
      text-align: center;
      flex: 1;
      a {
        width: 150rem;
      }
      i {
        font-size: 0.9rem;
        padding-left: 5px;
        color: #ccc;
      }
      border-right: 1px solid #ddd;
    }
    li:last-child {
      border: none;
    }
    li a:active {
      background: #f5f5f5;
    }
    border-bottom: 1px solid #ddd;
  }
}
</style>
