<template>
	<md-field-group class="register_submit">
		<md-field v-model="useraccount" icon="username" placeholder="UserAccount" />
		<md-field v-model="usernick" icon="username" placeholder="UserNick" />
		<div class="register_submit_btn">
			<van-button type="danger" size="large" @click="registerSubmit">Submit</van-button>
		</div>
	</md-field-group>
</template>

<script>
import field from "@/vue/components/field/";
import fieldGroup from "@/vue/components/field-group/";
import tool from "../../../assets/js/tools.js";
import ecc from "eosjs-ecc";
import * as Eos from "eosjs";
// import config_eosio from "../../../../config/config-eosio";
// const config = {
//   chainId: "706a7ddd808de9fc2b8879904f3b392256c83104c1d544b38302cc07d9fca477", // 32 byte (64 char) hex string
//   keyProvider: ["5KQwrPbwdL6PhXujxW37FSSQZ1JiwsST4cqQzDeyXtP79zkvFD3","5KE9TwBrypQ9ouY5PorKrLhNdXkEMNhKGvV2KMWqPuB3GNRbusH"], // WIF string or array of keys..
//   httpEndpoint: "http://c2.iezsoft.com",
//   mockTransactions: () => null, // or 'fail'
//   // transactionHeaders: (expireInSeconds, callback) => {
//   //   callback(null/*error*/, headers)
//   // },
//   expireInSeconds: 60,
//   broadcast: true,
//   debug: false,
//   sign: true
// };
let eos = null;
export default {
  data() {
    return {
      counting: true,
      useraccount: "",
      usernick: ""
    };
  },
  methods: {
    async registerSubmit() {
      if (this.useraccount == "") {
        this.$toast.fail("account name must not be null!");
        return;
      }

      if (this.usernick == "") {
        this.$toast.fail("user nick must not be null!");
        return;
      }
      console.log("this.defines.config");
      console.log(this.defines.config);

      const useraccount = this.useraccount;
      const usernick = this.usernick;
      eos = tool.inintEos(this.defines.config);
      // console.log(eos);
      ecc.randomKey().then(privateKey => {
        console.log("Private Key:\t", privateKey);
        const pk = ecc.privateToPublic(privateKey);
        console.log("Public Key:\t", pk);
        window.localStorage.setItem(this.useraccount,privateKey);
        const code = this.defines.userConfig.code;
        eos.newaccount({
            creator: "eosio",
            name: this.useraccount,
            owner: pk,
            active: pk
          })
          .then(res => {
            // Toast("register success!");
            console.log(res);
            // const issue = eos.issue("myaccount1", "10000.0000 SYS", "memo", {
            //   authorization: "eosio"
            // });
            // console.log(issue);
            // eos = tool.inintEos(this.defines.config);
            eos.contract(code).then(contract => {
              console.log(contract);
              contract
                .createuser(code, useraccount, usernick, 0, pk, 0, {
                  authorization: [code]
                })
                .then(res => {
                  this.$toast("success");
                  console.log(res);
                  console.log("contract createuser success");
                  this.$router.push({
                    name: "login"
                  });
                });
            });
          });
      });
    }
  },
  components: {
    [field.name]: field,
    [fieldGroup.name]: fieldGroup
  }
};
</script>


<style lang="scss" scoped>
@import "../../../assets/scss/mixin";
.register_submit {
  padding-top: 40px;
  background-color: #fff;
}
.register_submit_btn {
  padding-top: 30px;
}
.getCode {
  @include one-border(left);
  text-align: center;
}
.time_down {
  color: $red;
}
</style>