<template>
	<div>
		<van-nav-bar :title="topic_name" left-arrow @click-left="onClickLeft" left-text="Cancel" right-text="Send" @click-right="onClickRight" />
		<div class="body" @scroll='handleScroll()'>
			<van-cell-group>
				<van-field v-model="content" type="textarea" placeholder="What do you say..." rows="15" autosize />
			</van-cell-group>
		</div>
	</div>
</template>

<script>
import { NavBar } from "vant";
import tool from "../../../assets/js/tools.js";
let eos = null;
export default {
  props: {
    itemId: [String, Number]
  },
  data() {
    return {
      list: [],
      loading: false,
      finished: false,
      circle_id : this.$route.params.circle_id ,
      circle_name: this.$route.params.circle_name,
      content: ""
    };
  },
  created() {},
  methods: {
    onClickLeft() {
      this.$router.push({
        name: "list",
        params: {
          circle_id: this.circle_id,
          circle_name: this.circle_name,
          accountname: this.defines.userConfig.scope
        }
      });
    },
    onClickRight() {
      const circle_id = this.circle_id;
      const circle_name = this.circle_name;
      const content = this.content;
      const accountname = this.defines.userConfig.scope;
      if (content == "") {
        this.$toast.fail("Please fill in the contents!");
        return;
      }

      const reply_time = new Date();
      console.log("reply_time");
      console.log(reply_time.getTime());
      eos = tool.inintEos(this.defines.config);
      eos.contract(this.defines.userConfig.code).then(contract => {
        console.log(contract);
        contract
          .createreply(
            this.defines.userConfig.code,
            circle_id,
            circle_name,
            "",
            this.defines.userConfig.scope,
            0,
            0,
            content,
            reply_time.getTime(),
            0,
            {
              authorization: [this.defines.userConfig.code]
            }
          )
          .then(res => {
            this.$toast("success");
            console.log(res);
            this.$router.push({
              name: "list",
              params: {
                circle_id: circle_id,
                circle_name: circle_name,
                accountname: this.defines.userConfig.scope
              }
            });
          });
      });
    }
  },
  components: {
    [NavBar.name]: NavBar
  }
};
</script>

<style lang="scss" scoped>
@import "../../../assets/scss/bloglist"; // .body {
// 	background-color: #fff;
// }
.groupButton {
  padding: 2rem 0 2rem 0;
  ul {
    // width: 100%;
    height: 40px;
    line-height: 40px;
    display: flex;
    li {
      font-size: 0.8rem;
      text-align: center;
      flex: 1;
      i {
        font-size: 0.9rem;
        padding-left: 5px;
        color: #ccc;
      }
    }
  }
}
.footer {
  left: 0;
  position: fixed;
  bottom: 0; //这里换成top:0;就悬浮在头部
  width: 100%; // z-index: 9;
}
</style>
